In [1]:
import pandas as pd

In [2]:
europa = pd.read_csv('2024/participacion-eu.csv', delimiter=';')
europa

   YEAR   RATE UPDATE_STATUS  UPDATE_TIME
0  1979  61.99         FINAL          NaN
1  1984  58.98         FINAL          NaN
2  1989  58.41         FINAL          NaN
3  1994  56.67         FINAL          NaN
4  1999  49.51         FINAL          NaN
5  2004  45.47         FINAL          NaN
6  2009  42.97         FINAL          NaN
7  2014  42.61         FINAL          NaN
8  2019  50.66         FINAL          NaN

In [3]:
paises = pd.read_csv('2024/participacion-pais.csv', delimiter=';')
paises

     YEAR COUNTRY_ID   RATE UPDATE_STATUS       UPDATE_TIME
0    1979         BE  91.36         FINAL               NaN
1    1979         DK  47.82         FINAL               NaN
2    1979         DE  65.73         FINAL               NaN
3    1979         IE  63.61         FINAL               NaN
4    1979         FR  60.71         FINAL               NaN
..    ...        ...    ...           ...               ...
196  2024         SI  40.99   PROVISIONAL  2024-06-10 02:37
197  2024         SK  34.38         FINAL  2024-06-10 09:01
198  2024         FI  40.40   PROVISIONAL  2024-06-10 09:01
199  2024         SE  50.60   PROVISIONAL  2024-06-10 00:17
200  2024         HR  21.34   PROVISIONAL  2024-06-09 23:25

[201 rows x 5 columns]

In [4]:
paises['COUNTRY_ID'].unique()

array(['BE', 'DK', 'DE', 'IE', 'FR', 'IT', 'LU', 'NL', 'UK', 'EL', 'ES',
       'PT', 'SE', 'AT', 'FI', 'CZ', 'EE', 'CY', 'LT', 'LV', 'HU', 'MT',
       'PL', 'SI', 'SK', 'BG', 'RO', 'HR'], dtype=object)

In [5]:
nombres = {
    'BE': 'Bélgica', 'DK': 'Dinamarca', 'DE': 'Alemania', 'IE': 'Irlanda', 'FR': 'Francia', 'IT': 'Italia', 
    'LU': 'Luxemburgo', 'NL': 'Países Bajos', 'UK': 'Reino Unido', 'EL': 'Grecia', 'ES': 'España',
    'PT': 'Portugal', 'SE': 'Suecia', 'AT': 'Austria', 'FI': 'Finlandia', 'CZ': 'Chequia', 'EE': 'Estonia',
    'CY': 'Chipre', 'LT': 'Lituania', 'LV': 'Letonia', 'HU': 'Hungría', 'MT': 'Malta', 'PL': 'Polonia', 
    'SI': 'Eslovenia', 'SK': 'Eslovaquia', 'BG': 'Bulgaria', 'RO': 'Rumania', 'HR': 'Croacia'
}

paises['COUNTRY'] = paises['COUNTRY_ID'].map(nombres)

paises.head()

   YEAR COUNTRY_ID   RATE UPDATE_STATUS UPDATE_TIME    COUNTRY
0  1979         BE  91.36         FINAL         NaN    Bélgica
1  1979         DK  47.82         FINAL         NaN  Dinamarca
2  1979         DE  65.73         FINAL         NaN   Alemania
3  1979         IE  63.61         FINAL         NaN    Irlanda
4  1979         FR  60.71         FINAL         NaN    Francia

In [8]:
paises.to_csv('2024/paises_actualizado.csv')

In [7]:
etiquetas = pd.read_csv('2024/labels.csv', delimiter=';')
etiquetas

    LANGUAGE_ID                        ID                       LABEL
0            BG                  OFFICIAL         Официални резултати
1            BG  BREAKDOWN_BY_PARTY_TITLE          Разбивка по партии
2            BG                HISTORICAL           Исторически данни
3            BG                     FINAL       Окончателни резултати
4            BG        EU_HEMICYCLE_TITLE                      Състав
..          ...                       ...                         ...
355          SV          EU_TURNOUT_TITLE               Valdeltagande
356          SV              CONSTITUTIVE  Konstituerande sammanträde
357          SV                  ESTIMATE                 Beräkningar
358          SV      GENDER_BALANCE_TITLE              Könsfördelning
359          SV                  OUTGOING          Avgående parlament

[360 rows x 3 columns]

In [9]:
grupos_politicos = pd.read_csv('2024/groups.csv', delimiter=';')
grupos_politicos

,ID,LANGUAGE_ID,ACRONYM,LABEL
0,EPP,DE,EVP,Fraktion der Europäischen Volkspartei (Christd...
1,EPP,FI,EPP,Euroopan kansanpuolueen ryhmä (kristillisdemok...
2,EPP,SV,EPP,Europeiska folkpartiets grupp (kristdemokrater)
3,EPP,PT,PPE,Grupo do Partido Popular Europeu (Democratas-C...
4,EPP,BG,ЕНП,Група на Европейската народна партия (Християн...
...,...,...,...,...
211,Others,RO,Alții,Deputați nou-aleși care nu fac parte din niciu...
212,Others,SK,Iní,"Novozvolení poslanci, ktorí nepatria do nijake..."
213,Others,SL,Drugi,"Novoizvoljeni poslanci, ki ne pripadajo nobeni..."
214,Others,FI,Muut,"Uudet jäsenet, jotka eivät kuulu mihinkään kau..."
215,Others,SV,Övriga,Nyvalda ledamöter som inte tillhör någon polit...

In [6]:
partidos = pd.read_csv('2024/parties.csv', delimiter=';')
partidos[partidos['DIVISION_ID'] == 'ES']

,DIVISION_ID,ID,TYPE,ACRONYM,LABEL,MEMBER_OF_COALITION,COALITION_MEMBERS
112,ES,ES01,PARTY,PSOE,Partido Socialista Obrero Español,NaN,NaN
113,ES,ES02,PARTY,PP,Partido Popular,NaN,NaN
114,ES,ES03,PARTY,Sumar,"Coalition Sumar (Movimiento Sumar, Catalunya e...",NaN,NaN
115,ES,ES04,PARTY,Podemos,Podemos,NaN,NaN
116,ES,ES05,PARTY,Vox,Vox,NaN,NaN
117,ES,ES06,PARTY,Junts UE,"Coalition Junts i Lliures per Europa (Junts, D...",NaN,NaN
118,ES,ES07,PARTY,Ahora Repúblicas,Coalition Ahora Repúblicas (Esquerra Republica...,NaN,NaN
119,ES,ES08,PARTY,CEUS,Coalition CEUS (Euzko Alderdi Jeltzalea - Part...,NaN,NaN
120,ES,ES09,PARTY,Cs,Ciudadanos,NaN,NaN
121,ES,ES10,PARTY,IZQESP,Izquierda Española,NaN,NaN
122,ES,ES11,PARTY,SALF,Se Acabó la Fiesta,NaN,NaN
123,ES,ES90,PARTY,Other parties,Other parties,NaN,NaN

In [7]:
partidos['DIVISION_ID'].unique()

array(['BE', 'FBE', 'GBE', 'WBE', 'BG', 'CZ', 'DK', 'DE', 'EE', 'EL',
       'ES', 'FR', 'IT', 'CY', 'LV', 'LT', 'LU', 'HU', 'MT', 'NL', 'AT',
       'PL', 'PT', 'RO', 'SI', 'SK', 'FI', 'SE', 'HR'], dtype=object)

In [9]:
partidos

,DIVISION_ID,ID,TYPE,ACRONYM,LABEL,MEMBER_OF_COALITION,COALITION_MEMBERS
0,BE,BE01,PARTY,N-VA,Nieuw-Vlaamse Alliantie,NaN,NaN
1,BE,BE02,PARTY,VB,Vlaams Belang,NaN,NaN
2,BE,BE03,PARTY,Open VLD,Open Vlaamse Liberalen en Democraten,NaN,NaN
3,BE,BE04,PARTY,CD&V,Christen-Democratisch en Vlaams,NaN,NaN
4,BE,BE05,PARTY,Groen,Groen,NaN,NaN
...,...,...,...,...,...,...,...
304,HR,HR03,PARTY,IDS-DDI,Coalition Istarski demokratski sabor - Dieta d...,NaN,NaN
305,HR,HR04,PARTY,Most,"Coalition Most (Most, Hrvatski suverenisti, Hr...",NaN,NaN
306,HR,HR05,PARTY,DP,Domovinski pokret,NaN,NaN
307,HR,HR06,PARTY,Možemo!,Možemo! – Politička platforma,NaN,NaN
308,HR,HR90,PARTY,Other parties,Other parties,NaN,NaN

In [14]:
partidos_spain = pd.read_csv('2024/results-parties-es.csv', delimiter=';')
partidos_spain

   PARTY_ID   TYPE  VOTES_PERCENT UPDATE_STATUS       UPDATE_TIME
0      ES01  PARTY          30.19   PROVISIONAL  2024-06-09 23:25
1      ES02  PARTY          34.18   PROVISIONAL  2024-06-09 23:25
2      ES03  PARTY           4.65   PROVISIONAL  2024-06-09 23:25
3      ES04  PARTY           3.27   PROVISIONAL  2024-06-09 23:25
4      ES05  PARTY           9.62   PROVISIONAL  2024-06-09 23:25
5      ES06  PARTY           2.55   PROVISIONAL  2024-06-09 23:25
6      ES07  PARTY           4.93   PROVISIONAL  2024-06-09 23:25
7      ES08  PARTY           1.61   PROVISIONAL  2024-06-09 23:25
8      ES09  PARTY           0.69   PROVISIONAL  2024-06-09 23:25
9      ES10  PARTY           0.18   PROVISIONAL  2024-06-09 23:25
10     ES11  PARTY           4.58   PROVISIONAL  2024-06-09 23:25
11     ES90  PARTY           3.55   PROVISIONAL  2024-06-09 23:25

In [16]:
escanios = pd.read_csv('2024/escaños partidos.csv', delimiter=';')
escanios

   PARTY_ID   TYPE  SEATS_TOTAL   GROUP_ID UPDATE_STATUS       UPDATE_TIME
0      ES01  PARTY           20         SD   PROVISIONAL  2024-06-09 23:25
1      ES02  PARTY           22        EPP   PROVISIONAL  2024-06-09 23:25
2      ES03  PARTY            2  GREENSEFA   PROVISIONAL  2024-06-09 23:25
3      ES03  PARTY            1     Others   PROVISIONAL  2024-06-09 23:25
4      ES04  PARTY            2    Theleft   PROVISIONAL  2024-06-09 23:25
5      ES05  PARTY            6        ECR   PROVISIONAL  2024-06-09 23:25
6      ES06  PARTY            1         NI   PROVISIONAL  2024-06-09 23:25
7      ES07  PARTY            1    Theleft   PROVISIONAL  2024-06-09 23:25
8      ES07  PARTY            2  GREENSEFA   PROVISIONAL  2024-06-09 23:25
9      ES08  PARTY            1      Renew   PROVISIONAL  2024-06-09 23:25
10     ES11  PARTY            3     Others   PROVISIONAL  2024-06-09 23:25

In [10]:
resultados_eu = pd.read_csv('2024/eu.csv', delimiter=';')
resultados_eu

    GROUP_ID  SEATS_TOTAL  SEATS_PERCENT_EU UPDATE_STATUS       UPDATE_TIME
0        EPP          186             25.83   PROVISIONAL  2024-06-10 16:14
1         SD          135             18.75   PROVISIONAL  2024-06-10 16:14
2        ECR           73             10.14   PROVISIONAL  2024-06-10 16:14
3      Renew           79             10.97   PROVISIONAL  2024-06-10 16:14
4    Theleft           36              5.00   PROVISIONAL  2024-06-10 16:14
5  GREENSEFA           53              7.36   PROVISIONAL  2024-06-10 16:14
6         ID           58              8.06   PROVISIONAL  2024-06-10 16:14
7     Others           55              7.64   PROVISIONAL  2024-06-10 16:14
8         NI           45              6.25   PROVISIONAL  2024-06-10 16:14

-----

In [11]:
df1 = pd.read_csv('Paises/at.csv', delimiter=';')
df2 = pd.read_csv('Paises/be.csv', delimiter=';')
df3 = pd.read_csv('Paises/bg.csv', delimiter=';')
df4 = pd.read_csv('Paises/cy.csv', delimiter=';')
df5 = pd.read_csv('Paises/cz.csv', delimiter=';')
df6 = pd.read_csv('Paises/de.csv', delimiter=';')
df7 = pd.read_csv('Paises/dk.csv', delimiter=';')
df8 = pd.read_csv('Paises/ee.csv', delimiter=';')
df9 = pd.read_csv('Paises/el.csv', delimiter=';')
df10 = pd.read_csv('Paises/es.csv', delimiter=';')
df11 = pd.read_csv('Paises/fbe.csv', delimiter=';')
df12 = pd.read_csv('Paises/fi.csv', delimiter=';')
df13 = pd.read_csv('Paises/fr.csv', delimiter=';')
df14 = pd.read_csv('Paises/gbe.csv', delimiter=';')
df15 = pd.read_csv('Paises/hr.csv', delimiter=';')
df16 = pd.read_csv('Paises/hu.csv', delimiter=';')
df17 = pd.read_csv('Paises/ie.csv', delimiter=';')
df18 = pd.read_csv('Paises/it.csv', delimiter=';')
df19 = pd.read_csv('Paises/lt.csv', delimiter=';')
df20 = pd.read_csv('Paises/lu.csv', delimiter=';')
df21 = pd.read_csv('Paises/lv.csv', delimiter=';')
df22 = pd.read_csv('Paises/mt.csv', delimiter=';')
df23 = pd.read_csv('Paises/nl.csv', delimiter=';')
df24 = pd.read_csv('Paises/pl.csv', delimiter=';')
df25 = pd.read_csv('Paises/pt.csv', delimiter=';')
df26 = pd.read_csv('Paises/ro.csv', delimiter=';')
df27 = pd.read_csv('Paises/se.csv', delimiter=';')
df28 = pd.read_csv('Paises/si.csv', delimiter=';')
df29 = pd.read_csv('Paises/sk.csv', delimiter=';')
df30 = pd.read_csv('Paises/wbe.csv', delimiter=';')

In [13]:
countries = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10,
                    df11, df12, df13, df14, df15, df16, df17, df18, df19, df20,
                    df21, df22, df23, df24, df25, df26, df27, df28, df29, df30], 
                    ignore_index=True)

countries

    PARTY_ID   TYPE  SEATS_TOTAL   GROUP_ID UPDATE_STATUS       UPDATE_TIME
0       AT01  PARTY            5        EPP   PROVISIONAL  2024-06-09 23:25
1       AT02  PARTY            5         SD   PROVISIONAL  2024-06-09 23:25
2       AT03  PARTY            6         ID   PROVISIONAL  2024-06-09 23:25
3       AT04  PARTY            2  GREENSEFA   PROVISIONAL  2024-06-09 23:25
4       AT05  PARTY            2      Renew   PROVISIONAL  2024-06-09 23:25
..       ...    ...          ...        ...           ...               ...
205     BE08  PARTY            2         SD   PROVISIONAL  2024-06-10 00:17
206     BE09  PARTY            1  GREENSEFA   PROVISIONAL  2024-06-10 00:17
207     BE10  PARTY            3      Renew   PROVISIONAL  2024-06-10 00:17
208     BE11  PARTY            1        EPP   PROVISIONAL  2024-06-10 00:17
209     BE13  PARTY            1    Theleft   PROVISIONAL  2024-06-10 00:17

[210 rows x 6 columns]

In [14]:
countries.to_csv('2024/paises_escaños.csv')

-----

In [17]:
grupos_2019 = pd.read_csv('2019/groups.csv', delimiter=';')
grupos_2019

,ID,LANGUAGE_ID,ACRONYM,LABEL
0,EPP,DE,EVP,Fraktion der Europäischen Volkspartei (Christd...
1,EPP,FI,EPP,Euroopan kansanpuolueen ryhmä (kristillisdemok...
2,EPP,SV,EPP,Group of the European People's Party (Christia...
3,EPP,PT,PPE,Grupo do Partido Popular Europeu (Democratas-C...
4,EPP,BG,ЕНП,Група на Европейската народна партия (Християн...
...,...,...,...,...
187,NaN,GA,NI,Feisirí Neamhcheangailte
188,NaN,PL,NI,Niezrzeszeni
189,NaN,DA,NI,Løsgængere
190,NaN,RO,NI,Deputați neafiliați
191,NaN,NL,NI,Niet-fractiegebonden leden

In [18]:
partidos_2019 = pd.read_csv('2019/parties.csv', delimiter=';')
partidos_2019

,DIVISION_ID,ID,TYPE,ACRONYM,LABEL,MEMBER_OF_COALITION,COALITION_MEMBERS
0,BE,BE01,PARTY,CD&V,Christen-Democratisch & Vlaams,NaN,NaN
1,BE,BE02,PARTY,Groen,Groen,NaN,NaN
2,BE,BE03,PARTY,N-VA,Nieuw-Vlaamse Alliantie,NaN,NaN
3,BE,BE04,PARTY,sp.a,Socialistische Partij - Anders,NaN,NaN
4,BE,BE05,PARTY,VI.Belang,Vlaams Belang,NaN,NaN
...,...,...,...,...,...,...,...
362,HR,HR11,PARTY,Coal AMS (HL + PGS + HSU + IDS + HSS + GLAS + ...,Coalition Amsterdamska koalicija (Hrvatski lab...,NaN,NaN
363,HR,HR12,PARTY,Coal. Zelena ljevica,Coalition Zelena ljevica (Možemo! - politička ...,NaN,NaN
364,HR,HR13,PARTY,Mislav Kolakušić,Independent Mislav Kolakušić,NaN,NaN
365,HR,HR14,PARTY,Marijana Petir,Independent Marijana Petir,NaN,NaN
366,HR,HR90,PARTY,Other parties,Other parties,NaN,NaN

In [19]:
resultado_spain_2019 = pd.read_csv('2019/results-parties-es.csv', delimiter=';')
resultado_spain_2019

   PARTY_ID   TYPE  VOTES_PERCENT UPDATE_STATUS  UPDATE_TIME
0      ES01  PARTY          33.18      OFFICIAL          NaN
1      ES02  PARTY          20.35      OFFICIAL          NaN
2      ES03  PARTY          10.17      OFFICIAL          NaN
3      ES04  PARTY           2.85      OFFICIAL          NaN
4      ES05  PARTY          12.30      OFFICIAL          NaN
5      ES06  PARTY           4.59      OFFICIAL          NaN
6      ES07  PARTY           6.28      OFFICIAL          NaN
7      ES08  PARTY           5.64      OFFICIAL          NaN
8      ES09  PARTY           1.33      OFFICIAL          NaN
9      ES10  PARTY           1.33      OFFICIAL          NaN
10     ES90  PARTY           1.98      OFFICIAL          NaN

In [20]:
grupos_politicos_2019 = pd.read_csv('2019/es.csv', delimiter=';')
grupos_politicos_2019

    GROUP_ID  SEATS_TOTAL  SEATS_PERCENT_EU UPDATE_STATUS  UPDATE_TIME
0        EPP           12              1.60  CONSTITUTIVE          NaN
1         SD           20              2.66  CONSTITUTIVE          NaN
2        ECR            3              0.40  CONSTITUTIVE          NaN
3       ALDE            8              1.07  CONSTITUTIVE          NaN
4     GUENGL            6              0.80  CONSTITUTIVE          NaN
5  GREENSEFA            2              0.27  CONSTITUTIVE          NaN
6        NaN            3              0.40  CONSTITUTIVE          NaN

In [21]:
escanios_2019 = pd.read_csv('2019/escaños.csv', delimiter=';')
escanios_2019

   PARTY_ID   TYPE  SEATS_TOTAL   GROUP_ID UPDATE_STATUS  UPDATE_TIME
0      ES01  PARTY           20         SD  CONSTITUTIVE          NaN
1      ES02  PARTY           12        EPP  CONSTITUTIVE          NaN
2      ES03  PARTY            5     GUENGL  CONSTITUTIVE          NaN
3      ES03  PARTY            1  GREENSEFA  CONSTITUTIVE          NaN
4      ES04  PARTY            1       ALDE  CONSTITUTIVE          NaN
5      ES05  PARTY            7       ALDE  CONSTITUTIVE          NaN
6      ES06  PARTY            2        NaN  CONSTITUTIVE          NaN
7      ES07  PARTY            3        ECR  CONSTITUTIVE          NaN
8      ES08  PARTY            1     GUENGL  CONSTITUTIVE          NaN
9      ES08  PARTY            1  GREENSEFA  CONSTITUTIVE          NaN
10     ES08  PARTY            1        NaN  CONSTITUTIVE          NaN

In [22]:
genero_eu = pd.read_csv('2019/gender-balance-eu.csv', delimiter=';')
genero_eu

    MEN  WOMEN UPDATE_STATUS  UPDATE_TIME
0  59.0   41.0  CONSTITUTIVE          NaN

In [23]:
genero_spain = pd.read_csv('2019/gender-balance-country.csv', delimiter=';')
genero_spain

   COUNTRY_ID    MEN  WOMEN UPDATE_STATUS  UPDATE_TIME
0          BE   62.0   38.0  CONSTITUTIVE          NaN
1          BG   71.0   29.0  CONSTITUTIVE          NaN
2          CZ   67.0   33.0  CONSTITUTIVE          NaN
3          DK   54.0   46.0  CONSTITUTIVE          NaN
4          DE   64.0   36.0  CONSTITUTIVE          NaN
5          EE   67.0   33.0  CONSTITUTIVE          NaN
6          IE   55.0   45.0  CONSTITUTIVE          NaN
7          EL   76.0   24.0  CONSTITUTIVE          NaN
8          ES   53.0   47.0  CONSTITUTIVE          NaN
9          FR   50.0   50.0  CONSTITUTIVE          NaN
10         IT   59.0   41.0  CONSTITUTIVE          NaN
11         CY  100.0    0.0  CONSTITUTIVE          NaN
12         LV   50.0   50.0  CONSTITUTIVE          NaN
13         LT   73.0   27.0  CONSTITUTIVE          NaN
14         LU   50.0   50.0  CONSTITUTIVE          NaN
15         HU   62.0   38.0  CONSTITUTIVE          NaN
16         MT   50.0   50.0  CONSTITUTIVE          NaN
17         NL   50.0   50.0  CONSTITUTIVE          NaN
18         AT   50.0   50.0  CONSTITUTIVE          NaN
19         PL   65.0   35.0  CONSTITUTIVE          NaN
20         PT   57.0   43.0  CONSTITUTIVE          NaN
21         RO   78.0   22.0  CONSTITUTIVE          NaN
22         SI   50.0   50.0  CONSTITUTIVE          NaN
23         SK   85.0   15.0  CONSTITUTIVE          NaN
24         FI   46.0   54.0  CONSTITUTIVE          NaN
25         SE   45.0   55.0  CONSTITUTIVE          NaN
26         UK   53.0   47.0  CONSTITUTIVE          NaN
27         HR   64.0   36.0  CONSTITUTIVE          NaN

In [25]:
saliente_grupos = pd.read_csv('2019/groups_saliente.csv', delimiter=';')
saliente_grupos

,ID,LANGUAGE_ID,ACRONYM,LABEL
0,EPP,DE,EVP,Fraktion der Europäischen Volkspartei (Christd...
1,EPP,FI,EPP,Euroopan kansanpuolueen ryhmä (kristillisdemok...
2,EPP,SV,EPP,Europeiska folkpartiets grupp (kristdemokrater)
3,EPP,PT,PPE,Grupo do Partido Popular Europeu (Democratas-C...
4,EPP,BG,ЕНП,Група на Европейската народна партия (Християн...
...,...,...,...,...
187,NaN,GA,NI,Feisirí Neamhcheangailte
188,NaN,PL,NI,Niezrzeszeni
189,NaN,DA,NI,Løsgængere
190,NaN,RO,NI,Deputați neafiliați
191,NaN,NL,NI,Niet-fractiegebonden leden

In [26]:
saliente_parties = pd.read_csv('2019/parties_saliente.csv', delimiter=';')
saliente_parties

,DIVISION_ID,ID,TYPE,ACRONYM,LABEL,MEMBER_OF_COALITION,COALITION_MEMBERS
0,BE,BE01,PARTY,CD&V,Christen-Democratisch en Vlaams,NaN,NaN
1,BE,BE02,PARTY,Groen!,NaN,NaN,NaN
2,BE,BE03,PARTY,N-VA,Nieuw-Vlaamse Alliantie,NaN,NaN
3,BE,BE04,PARTY,PS,Parti Socialiste,NaN,NaN
4,BE,BE05,PARTY,VB,Vlaams Belang,NaN,NaN
...,...,...,...,...,...,...,...
351,HR,HR11,PARTY,Coal. Amsterdam,Istarski demokratski sabor,NaN,NaN
352,HR,HR12,PARTY,Coal. Zelena ljevica,Coalition Zelena ljevica (Možemo! - politička ...,NaN,NaN
353,HR,HR14,PARTY,Marijana Petir,Independent Marijana Petir,NaN,NaN
354,HR,HR15,PARTY,Ključ Hrvatske,Ključ Hrvatske,NaN,NaN
355,HR,HR20,PARTY,Ind.,Independents,NaN,NaN

In [28]:
escanios_2019 = pd.read_csv('2019/escaños.csv', delimiter=';')
escanios_2019

   PARTY_ID   TYPE  SEATS_TOTAL   GROUP_ID UPDATE_STATUS  UPDATE_TIME
0      ES01  PARTY           20         SD  CONSTITUTIVE          NaN
1      ES02  PARTY           12        EPP  CONSTITUTIVE          NaN
2      ES03  PARTY            5     GUENGL  CONSTITUTIVE          NaN
3      ES03  PARTY            1  GREENSEFA  CONSTITUTIVE          NaN
4      ES04  PARTY            1       ALDE  CONSTITUTIVE          NaN
5      ES05  PARTY            7       ALDE  CONSTITUTIVE          NaN
6      ES06  PARTY            2        NaN  CONSTITUTIVE          NaN
7      ES07  PARTY            3        ECR  CONSTITUTIVE          NaN
8      ES08  PARTY            1     GUENGL  CONSTITUTIVE          NaN
9      ES08  PARTY            1  GREENSEFA  CONSTITUTIVE          NaN
10     ES08  PARTY            1        NaN  CONSTITUTIVE          NaN

In [27]:
escanios_saliente = pd.read_csv('2019/escaños_saliente.csv', delimiter=';')
escanios_saliente

   PARTY_ID   TYPE  SEATS_TOTAL   GROUP_ID UPDATE_STATUS  UPDATE_TIME
0      ES01  PARTY           21         SD      OUTGOING          NaN
1      ES02  PARTY           13        EPP      OUTGOING          NaN
2      ES03  PARTY            4     GUENGL      OUTGOING          NaN
3      ES05  PARTY            7      Renew      OUTGOING          NaN
4      ES10  PARTY            1      Renew      OUTGOING          NaN
5      ES11  PARTY            1  GREENSEFA      OUTGOING          NaN
6      ES12  PARTY            1     GUENGL      OUTGOING          NaN
7      ES13  PARTY            3        NaN      OUTGOING          NaN
8      ES07  PARTY            4        ECR      OUTGOING          NaN
9      ES08  PARTY            2  GREENSEFA      OUTGOING          NaN
10     ES14  PARTY            1     GUENGL      OUTGOING          NaN
11     ES20  PARTY            1      Renew      OUTGOING          NaN